<div class="comment_list">
  <p><%= comment.message %></p>
  <div class="comment_user">
    <p><%= comment.user.nickname %></p>
    <%= link_to tweet_comment_path(@tweet.id, comment.id), method: :delete do %>
      <%= image_tag "garbage_can_gray.png", title: "削除" %>
    <% end %>
  </div>
</div>