<div class="tweet_lists">
  <h2>積み上げ</h2>
  <% @tweets.each do |tweet| %>
    <%= link_to tweet_path(tweet.id) do %>
      <%= render partial: "tweet", locals: { tweet: tweet } %>
    <% end %>
  <% end %>
</div>