/* common */
.form {
  border: solid 0.15em #cccccc;
  border-radius: 0.25em;
  box-shadow: 0 0 10px 0 #cccccc;
  margin: 1em 10%;
  padding: 0.5em 1em;
  text-align: center;
  line-height: 2;
}

/* layouts/application.html.erb */
header {
  width: 100%;
}

h1 {
  background-color: orange;
  text-align: center;
}

h1 div {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 img {
  height: 1.25em;
  margin-right: 0.25em;
}

h1 a {
  color: white;
  font-size: 2em;
  line-height: 2;
  text-decoration: none;
}

.user {
  display: flex;
  justify-content: center;
}

div.user ul {
  display: flex;
}

div.user li {
  color: orange;
  font-weight: bold;
  list-style: none;
  border: solid 0.15em orange;
  border-radius: 0.25em;
  box-shadow: 0 0 5px 0 #cccccc;
  margin: 1em 0.5em 0;
  padding: 0.5em 1em;
}

div.user a {
  color: orange;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

.tweet_new {
  position: absolute;
  top: 5em;
  left: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet_new div {
  background-color: white;
  border: solid 2px orange;
  box-shadow: 0 0 10px 0 #999999;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tweet_new img {
  height: 1.5em;
}

div.tweet_new p {
  color: #333333;
  font-size: 0.75em;
  font-weight: 600;
  margin-top: 0.5em;
}

footer {
  background-color: orange;
  color: white;
  text-align: center;
  line-height: 2;
}

/* devise/registrations/new.html.erb */
h2 {
  font-size: 1.5em;
  text-align: center;
}

.field {
  margin-bottom: 0.5em;
}

.field_with_errors {
  display: contents;
}

div.field input {
  height: 2em;
  width: 20em;
  border: solid 0.15em #999999;
  border-radius: 0.25em;
}

div.actions input {
  border: solid 0.15em #999999;
  border-radius: 0.25em;
  box-shadow: 0 0 2.5px 0 #999999;
  cursor: pointer;
}

input#user_remember_me {
  width: 1.25em;
}

/* devise/sessions/new.html.erb */
form.new_user p {
  color: red;
}

/* devise/shared/_error_messages.html.erb */
div#error_explanation h2 {
  font-size: 1em;
}

div#error_explanation li {
  font-size: 1em;
  color: red;
  list-style: none;
}

/* tweets/index.html.erb */
.landing_title {
  color: #333333;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin: 0.5em 0;
}

p.landing_title span {
  color: orangered;
}

.landing {
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

div.landing div {
  padding: 1em;
}

div.landing img {
  width: 15em;
}

div.landing p {
  font-weight: 500;
  text-align: center;
}

.arrow {
  height: 5em;
}

.tweet_lists {
  background-color: rgba(204, 204, 204, 0.1);
  border-radius: 0.25em;
  margin: 1em 10%;
  padding: 1em 0;
}

.tweet_lists a {
  text-decoration: none;
}

/* tweets/_tweet.html.erb */
.tweet_list {
  width: 100%;
  border-top: solid 1px #cccccc;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.tweet_list div:first-child {
  line-height: 1.25;
  width: 20em;
  margin: 0.25em 0;
  display: flex;
  justify-content: space-between;
}

.creation_time {
  font-size: 0.75em;
}

.tweet_text {
  line-height: 1.25;
  width: 20em;
  padding-bottom: 0.25em;
}

.tag_link {
  width: 20em;
  display: flex;
  justify-content: flex-end;
}

.tag {
  color: #0066ff;
  line-height: 1.25;
}

div.tweet_list img {
  border-radius: 0.25em;
}

/* tweets/new.html.erb */
.tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em 0;
}

div.tweet textarea#tweet_tag_form_text {
  height: 5em;
  width: 30em;
  border: solid 0.1em #999999;
  border-radius: 0.25em;
  margin-bottom: 0.5em;
}

.tag_form {
  width: 25.4em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

div.tweet textarea#tweet_tag_form_name {
  height: 2em;
  width: 26.3em;
  border: solid 0.1em #999999;
  border-radius: 0.25em;
}

div.tweet input#text {
  /* margin-bottom: 0.5em; */
  height: 2em;
  width: 20em;
  border: solid 0.15em #999999;
  border-radius: 0.25em;
}

.tag_lists {
  width: 100%;
}

div.tag_lists li {
  text-align: start;
  width: auto;
  font-size: 0.85em;
  list-style: none;
  line-height: 1.5;
  margin:0 0.2em;
  cursor: pointer;
}

div.tweet label {
  height: 3em;
  width: auto;
  cursor: pointer;
}

.tweet_image {
  height: 100%;
}

div.tweet input#tweet_tag_form_image {
  display: none;
}

.preview {
  width: 10em;
}

div.preview img {
  width: 100%;
  border-radius: 0.25em;
  box-shadow: 0 0 2.5px 0 #999999;
}

/* tweets/show.html.erb */
.icons {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #cccccc;
}

.keep_it_up_button {
  width: 4.5em;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding: 0 1.5em 0 0;
}

div.keep_it_up_button a {
  padding: 0.5em 0.5em 0.5em 0;
}

div.icons > a {
  margin: 0 1.5em;
  padding: 0.5em;
}

div.icons img {
  height: 2em;
}

.comment_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 1.25em;
  margin: 0.5em;
}

.comment_form {
  display: flex;
  flex-direction: column;
  align-items: center
}

form.comment_form p {
  color: red;
  margin-bottom: 0.25em;
}

.comment_form textarea {
  width: 25em;
}

.comment_form input {
  border: solid 0.15em #999999;
  border-radius: 0.25em;
  box-shadow: 0 0 2.5px 0 #999999;
  margin: 0.5em 0;
}

.comment_lists {
  width: 20em;
}

/* comments/_comment.html.erb */
.comment_list {
  line-height: 1.5;
  border-bottom: solid 1px #cccccc;
}

.comment_user {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

div.comment_user img {
  height: 1.25em;
  padding: 0.15em 0.5em 0;
}