header {
  /* position: fixed; */
  width: 100%;
}

h1 {
  background-color: orange;
  text-align: center;
  margin: 0;
  padding: 0.25em 0;
}

h1 div {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 img {
  height: 1.25em;
  margin-right: 0.25em;
}

h1 a {
  color: white;
  text-decoration: none;
}

.user {
  display: flex;
  justify-content: flex-end;
}

div.user ul {
  display: flex;
}

div.user li {
  list-style: none;
  border: solid 0.20em orange;
  border-radius: 0.25em;
  margin-left: 0.75em;
}

div.user a {
  color: orange;
  font-weight: bold;
  text-decoration: none;
  padding: 0.25em 1em;
  display: block;
}

footer {
  background-color: orange;
  color: white;
  text-align: center;
  padding: 0.25em 0;
}