/* common */
.form {
  border: solid 0.15em #cccccc;
  border-radius: 0.25em;
  box-shadow: 0 0 10px 0 #cccccc;
  margin: 1em 10%;
  padding: 0.5em 1em;
  text-align: center;
  line-height: 2;
}

/* layouts/application.html.erb */
header {
  width: 100%;
}

h1 {
  background-color: orange;
  text-align: center;
}

h1 div {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 img {
  height: 1.25em;
  margin-right: 0.25em;
}

h1 a {
  color: white;
  font-size: 2em;
  line-height: 2;
  text-decoration: none;
}

.user {
  display: flex;
  justify-content: center;
}

div.user ul {
  display: flex;
}

div.user li {
  color: orange;
  font-weight: bold;
  list-style: none;
  border: solid 0.15em orange;
  border-radius: 0.25em;
  box-shadow: 0 0 5px 0 #cccccc;
  margin: 1em 0.5em 0;
  padding: 0.5em 1em;
}

div.user a {
  color: orange;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

footer {
  background-color: orange;
  color: white;
  text-align: center;
  line-height: 2;
}

/* devise/registrations/new.html.erb */

h2 {
  font-size: 1.5em;
  text-align: center;
}

.new_user {
  margin: 0.5em 0;
}

.field {
  margin-bottom: 0.5em;
}

.field_with_errors {
  display: contents;
}

div.field input {
  height: 2em;
  width: 20em;
  border: solid 0.15em #999999;
  border-radius: 0.25em;
}

div.actions input {
  border: solid 0.15em #999999;
  border-radius: 0.25em;
  box-shadow: 0 0 2.5px 0 #999999;
}

input#user_remember_me {
  width: 1.25em;
}

/* devise/shared/_error_messages.html.erb */
div#error_explanation h2 {
  font-size: 1em;
}

div#error_explanation li {
  font-size: 1em;
  color: red;
  list-style: none;
}

/* tweets/index.html.erb */
.tweet_new {
  position: absolute;
  top: 5em;
  left: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet_new div {
  background-color: white;
  border: solid 2px orange;
  box-shadow: 0 0 10px 0 #999999;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tweet_new img {
  height: 1.5em;
}

div.tweet_new p {
  color: #333333;
  font-size: 0.75em;
  font-weight: 600;
  margin-top: 0.5em;
}

.tweet_lists {
  background-color: rgba(204, 204, 204, 0.1);
  border-radius: 0.25em;
  margin: 1em 10%;
  padding: 1em 0;
}

.tweet_list {
  width: 100%;
  border-top: solid 1px #cccccc;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.tweet_list p {
  width: 15em;
  margin: 0.25em 0;
}

div.tweet_list img {
  border-radius: 0.25em;
}

/* tweets/new.html.erb */
.tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em 0;
}

div.tweet textarea {
  height: 5em;
  width: 30em;
  border: solid 0.1em #999999;
  border-radius: 0.25em;
  margin-bottom: 0.5em;
}

div.tweet input#text {
  margin-bottom: 0.5em;
  height: 2em;
  width: 20em;
  border: solid 0.15em #999999;
  border-radius: 0.25em;
}

div.tweet label {
  height: 3em;
  width: auto;
  cursor: pointer;
}

.tweet_image{
  height: 100%;
}

div.tweet input#tweet_image {
  display: none;
}
